.header-contacts {
    .header-contacts__arrow {
        img {
            transition: 0.5s;
        }
    }
    &.openned {
        .header-contacts__arrow {
            img {
                transform: rotate(180deg);
            }
        }
        .header-contacts__phone-number-accord {
            top: 30px;
            a {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 900px) {
    .portfolio-slider {
        max-width: 352px;
    }
}

.popup-arrow {
    transition: 0.2s all;
    opacity: 1;
    &.show-arrow {
        display: block !important;
        opacity: 1;
    }
    &.hide-arrow {
        display: block !important;
        opacity: 0;
    }
}

.popup-portfolio-slider__slide {
    img {
        max-width: 100%;
        height: auto;
    }
}

.popup-portfolio-text {
    transition: 0.2s all;
    opacity: 0;
    &--show {
        opacity: 1;
    }
}

.slider-arrow {
    transition: 0.2s all;
    opacity: 1;
    &.show-arrow {
        display: flex !important;
        opacity: 1;
    }
    &.hide-arrow {
        display: flex !important;
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .partners-slider {
        height: 0;
        .glo-slider__wrap {
            height: 100%;
        }
    }
}

.formula-slider {
    padding-top: 292px;
    margin-top: -190px;
    min-height: 692px;
}

@media (max-width: 575px) {
    .formula-slider {
        padding-top: 171px;
        min-height: 436px;
        margin-top: -119px;
    }
}

.problems-slider {
    padding-top: 380px;
    margin-top: -380px;
    height: 954px;
}

@media (max-width: 575px) {
    .problems-slider {
        padding-top: 171px;
        min-height: 436px;
        margin-top: -119px;
    }
}

.d-none {
    display: none;
}

.nav-list {
    .glo-slider__wrap {
        justify-content: space-between;
        &>* {
            margin-right: 15px;
        }
    }
    &.nav-list-repair {
        min-width: 0;
    }
}